body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.cardimage {
    border-top-left-radius: 3.33% 2.39%;
    border-top-right-radius: 3.33% 2.39%;
    border-bottom-left-radius: 3.33% 2.39%;
    border-bottom-right-radius: 3.33% 2.39%;
    -webkit-transition: all .1s ease; /* Safari and Chrome */
    -moz-transition: all .1s ease; /* Firefox */
    -o-transition: all .1s ease; /* IE 9 */
    -ms-transition: all .1s ease; /* Opera */
    transition: all .1s ease;
    width: 25%;
}

    .cardimage:hover {
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -moz-transform: scale(1.5); /* Firefox */
        -ms-transform: scale(1.5); /* IE 9 */
        -o-transform: scale(1.5); /* Opera */
        transform: scale(1.5);
    }
