@model ANRDraft.Models.DraftViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<p>Your draft was created on @Model.Created.Date.ToShortDateString()</p>
<p>Tell your fellow participants to go to /Draft/Index/@Model.Name to access the draft.</p>
<ul>
    @foreach(var kvp in @Model.Decklist)
    {
        <li>@kvp.Value x @kvp.Key</li>
    }
</ul>