@model ANRDraft.Models.ParticipantViewModel

@{
    ViewBag.Title = "Draft ";
}
@section scripts {
    <!--Script references. -->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/anrdraft.js"></script>
    <script>
        var draftname = @Html.Raw(Json.Encode(Model.DraftName));
        var playername = @Html.Raw(Json.Encode(Model.Name));
    </script>
}

<h2>Draft: @Model.DraftName</h2>



<div class="container-fluid" id="draftcontainer">
    <div class="row">
        <div class="col-md-12 col-lg-7 push-lg-3">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Double-click a card to select it.
            </div>
            <div><div id="currentPack"></div></div>
            
        </div>
        <div class="col-md-6 col-lg-3 pull-lg-7 text-sm-left">
            <table class="table table-sm">
                <thead>
                    <tr class="table-active">
                        <td colspan="2"><b>@Model.Name's Cards</b></td>
                    </tr>
                </thead>
                <tbody id="selectedCards"></tbody>

            </table>
        </div>
        <div class="col-md-6 col-lg-2">
            <div class="input-group">
                <input type="text" id="message" class="form-control" />
                <span class="input-group-btn"><input class="btn btn-default" type="button" id="sendmessage" value="Send" /></span>
            </div>
            <ul id="discussion" class="list-unstyled"></ul>
        </div>
    </div>
</div>