@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<Draft>

<div id="draftList" title="Ongoing Drafts">
    <h2>@Model.Count().ToString() Ongoing Drafts</h2>
    <a href="/Create/">Add new draft...</a>
</div>